
#COL_BODY .jsgrid_th_selectbox {
	vertical-align:top !important;
} 

.d-lg-none{
	display:none;
}
.d-none{
	display:none;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.modal-header .close {
    margin-top: 0px;
}

textarea {
	resize: none;
}

.p-2 {
    padding: .5rem!important;
}

.p-1 {
    padding: 1rem!important;
}

.modal-dialog {
    margin: 1.75rem auto;
}

.modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
}

.btn-clmn {
	width: 100px; 
	height: 30px; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
	border:none; 
	border-right:1px solid #ddd;
}

.btn-active {
    color: #fff;
    background-color: #26B99A !important;
}

.btn-active:hover, .btn-active:focus{
	background-color: #2db094 !important;
	color:#fff;
}

._ellipsis {
  	  max-width:400px;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
}

.t-text-ellipsis {
	max-width:200px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align:center;
}

.td-left-text-ellipsis {
	max-width:200px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align:left;
}

.form-control:hover, .form-control:focus {
    border-color: #0b70b9;
}

.invalidErrorText{
    color: red;
}

.invalidErrorBox{
    border-color: red !important;
}

.p-t-4{
	padding-top: 4px;
}
.p-t-5{
	padding-top: 5px;
}

.p-l-0{
	padding-left: 0px !important;
}
.p-l-10{
	padding-left: 10px;
}

.p-r-10{
	padding-right: 10px;
}

.important-submsg{
	color:red;
}

.m-b-10{
	margin-bottom: 10px;
}

.m-t--5{
	margin-top: -5px !important;
}
.m-t-0{
	margin-top: 0px !important;
}

.m-l-10{
	margin-left: 10px !important;
}

.th-header-record{
	min-width:100px;
	height:50px;
}

.height-auto{
	height:auto;
}

.overflow-auto{
	overflow:auto;
}

.cusor-pointer{
	cursor: pointer !important;
}

.cusor-no-drop{
	cursor: no-drop !important;
}

.max-width-100p{
	max-width:100%;	
}

.min-width-80p{
	min-width:80%;
}

.column-info-header{
	border-right:1px solid #ddd;
	min-width:80px;
}

.column-info-btn{
	padding-left:10px;
	padding-right:10px;
	cursor: pointer;
	border-right:1px solid #ddd;
}

.w50{
	width:50px !important;
}

.w100{
	width:100px !important;
}

.w120{
	width:120px !important;
}

.w200{
	width:200px !important;
}

.float-right{
	float:right;
}
.float-left{
	float:left;
}

.h550{
	height: 550px !important;
}

.min-height-400{
	min-height:400px !important;
}
.min-height-600{
	min-height:600px !important;
}
.min-height-800{
	min-height:800px !important;
}

.min-width-100{
	min-width:100px !important;
}

.min-width-200{
	min-width:200px !important;
}


.white-space-pre-line{
	white-space:pre-line;
}

.vertical-middle{
	vertical-align:middle;
}

.vertical-helper{
	vertical-align:-webkit-baseline-middle;
}

.display-inline{
	display:inline;
}

.display-block{
	display:block;
}

.display-flex{
	display:flex;
}

