@font-face {
    font-family: Noto Sans KR R;
    src: url(../fonts/notokr-regular.eot); /* IE 호환성 보기 */
    src: url(../fonts/notokr-regular.eot#iefix) format('embedded-opentype'), /* IE 6 ~ 8 */ url(../fonts/notokr-regular.woff2) format('woff2'), /* WOFF2 지원 브라우저 */ url(../fonts/notokr-regular.woff) format('woff'), /* 모던 브라우저 */ url(../fonts/notokr-regular.ttf) format('truetype');
}
@font-face {
    font-family: Noto Sans KR L;
    src: url(../fonts/notokr-light.eot); /* IE 호환성 보기 */
    src: url(../fonts/notokr-light.eot#iefix) format('embedded-opentype'), /* IE 6 ~ 8 */ url(../fonts/notokr-light.woff2) format('woff2'), /* WOFF2 지원 브라우저 */ url(../fonts/notokr-light.woff) format('woff'), /* 모던 브라우저 */ url(../fonts/notokr-light.ttf) format('truetype');
}
@font-face {
    font-family: Noto Sans KR B;
    src: url(../fonts/notokr-bold.eot); /* IE 호환성 보기 */
    src: url(../fonts/notokr-bold.eot#iefix) format('embedded-opentype'), /* IE 6 ~ 8 */ url(../fonts/notokr-bold.woff2) format('woff2'), /* WOFF2 지원 브라우저 */ url(../fonts/notokr-bold.woff) format('woff'), /* 모던 브라우저 */ url(../fonts/notokr-bold.ttf) format('truetype');
}

/*----------------------- 공통 --------------------------*/
* {
    font-family: 'Noto Sans KR R', sans-serif;
}

.page-title .title_left h3, .x_title h2 {
    font-family: Noto Sans KR B;
}
.container {
    min-width: 1550px;
}
select, input, textarea{
    font-size:14px !important;
}
section {
    margin:0;
    padding:0;
}
.float_l {
    float:left !important;
}
.float_r {
    float:right !important;
}
.txt_l {
    text-align:left !important;
}
.txt_r {
    text-align:right !important;
}
.txt_c {
    text-align:center !important;
}
.btn-black {
    color: #fff;
    background-color: #444;
    border-color: #444;
}
.btn-black:hover, .btn-black:focus, .btn-black.focus, .btn-black:active, .btn-black.active, .open>.dropdown-toggle.btn-black {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.margin_b {
    margin-bottom: 8px;
}
.margin_b0 {
    margin-bottom: 0;
}
.margin_b10 {
    margin-bottom: 10px;
}
.margin_b15 {
    margin-bottom: 15px;
}
.margin_b20 {
    margin-bottom: 20px;
}
.margin_b30 {
    margin-bottom: 30px;
}
.margin_t {
    margin-top:15px !important;
}
.margin_t10 {
    margin-top:10px !important;
}
.margin_t20 {
    margin-top:20px !important;
}
.scroll_v {
    overflow-x:scroll;
}
.scroll_h {
    overflow-y:scroll;
    height:300px;
}
.scroll_h-lg{
    overflow-y:scroll;
    height:620px;
}
.scroll_h-sm{
    overflow-y:scroll;
    height:170px;
}
.scroll_h-auto {
    overflow-y:scroll;
    max-height:180px;
}
.input-group-btn .btn {
    padding-top:7.5px;
    padding-bottom:7.5px;
}
table.basic_table .btn-xs{
    padding:2px 6px;
}
.bg_info1{
    background: #668bae;
    color:#fff;
}
.bg_btn1{
    background: #668bae;
    color:#fff;
}
.bg_btn1:hover, .bg_btn1:focus{
    background: #54718c;
    color:#fff;
}
.bg_info1.active{
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color:#fff;
}
.bg_btn1.active{
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color:#fff;
}
.bg_btn1.active:hover, .bg_btn1.active:focus{
    background-color: #23a388;
    border-color: #23a388;
    color:#fff;
}
.bg_info2{
    background: #2c77bd;
    color:#fff;
}
.bg_btn2{
    background: #2c77bd;
    color:#fff;
}
.bg_btn2:hover, .bg_btn2:focus{
    background: #2767a3;
    color:#fff;
}
.bg_info2.active{
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color:#fff;
}
.bg_btn2.active{
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color:#fff;
}
.bg_btn2.active:hover, .bg_bt2.active:focus{
    background-color: #23a388;
    border-color: #23a388;
    color:#fff;
}
.bg_info3{
    background: #085aa8;
    color:#fff;
}
.bg_btn3{
    background: #085aa8;
    color:#fff;
}
.bg_btn3:hover, .bg_btn3:focus{
    background: #084885;
    color:#fff;
}
.bg_info3.active{
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color:#fff;
}
.bg_btn3.active{
    background-color: #1ABB9C;
    border-color: #1ABB9C;
    color:#fff;
}
.bg_btn3.active:hover, .bg_btn3.active:focus{
    background-color: #23a388;
    border-color: #23a388;
    color:#fff;
}

.bg-yellow{
    background: #ffd716;
    color:#fff;
    border:solid 1px #ffd716;
}
.bg-blue2{
    color:#fff;
    background:#2c6196;
}
.bg-darkgray{
    color:#fff;
    background:#778592;
}
.bg_lightgray{
    background: #f9f9f9;
}
.bg-purple-dark{
    color:#fff;
    background:#837d9e;
}
.bg-purple-dark2{
    color:#fff;
    background:#69628c;
}
.font-size13{
    font-size:13px;
}
.font-size14{
    font-size:14px;
}
.font-size16{
    font-size:16px;
}
.font-size18{
    font-size:18px;
}
.bold {
    font-weight:bold;
}
.font-normal{
    font-weight:normal;
}
.color-blue{
    color: #337ab7;
}
.color-sky{
    color: #5bc0de;
}
.color-yellow{
    color: #ffd716;
}
.color-orenge{
    color: #f0ad4e;
}
.color-red{
    color: #d9534f;
}
.border-no{
    border:none;
}
.border-no:hover{
     background:none;
}
.width100{
    width:100% !important;
}
/*----------------------- 컨텐츠 --------------------------*/
.toggle {
    width:150px;
}
.toggle a{
    padding-right:0
}
.toggle a:last-child{
    padding-left:10px;
}
.logo_pa {
    height:28px;
    margin-top:12px;
}
.nav-sm .logo_pa{
    height:10px;
    margin-top:20px;
    margin-left:0;
}
.nav_title{
    text-align:center;
}
.panel_toolbox{
    min-width:auto;
}
.panel_toolbox>li{
    width:35px;
    height:38px;
    text-align:right;
}
.panel_toolbox>li>a{
    text-align:center;
}
.panel_toolbox>li>a.collapse-link:hover {
    background: #F5F7FA;
}
.panel_toolbox>li>a .fa-question-circle{
    color:#5A738E;
}
.profile{
    overflow:hidden;
}
.x_title {
    border-bottom: 0;
    margin-bottom: 0;
    padding-left:0;
    padding-right:0;
    overflow:hidden;
}
.x_title h2{
    position:relative;
    padding-left:10px;
    font-weight:bold;
}
.x_title h2:after{
    position:absolute;
    content:'';
    width:8px;
    height:8px;
    background:url(../images/icon_dot.png) no-repeat;
    left:0;
    top:4px;
}
.x_underline{
    border-bottom: 2px solid #e6e9ed;
    overflow:hidden;
    padding-bottom:0;
    margin-bottom:15px;
}
.x_content{
    margin-top:0;
    padding:0;
    padding-bottom:5px;
}
p.sub_info {
    padding-left:40px;
    margin-top:-10px;
    margin-bottom:20px;
}
p.sub_info2 {
    padding-left:10px;
    margin-top:-8px;
    margin-bottom:20px;
}
.search-title{
    width:12%;
}
.search-select{
    width:78%;
}
.search-arrow{
    width:10%;
}
.right_col section:last-child{
    margin-bottom:50px;
}
/* 프로그래스 스텝 */
.wizard_horizontal ul.wizard_steps{
    margin:0;
    margin-top:6px;
}
.wizard_horizontal ul.wizard_steps li div, .wizard_horizontal ul.wizard_steps li:hover div{
    display: block;
    position: relative;
    -moz-opacity: 1;
    filter: alpha(opacity: 100);
    opacity: 1;
    color: #333;
}

.wizard_horizontal ul.wizard_steps li div:before {
    content: "";
    position: absolute;
    height: 4px;
    background: #ccc;
    top: 15px;
    width: 100%;
    /*z-index: 4;*/
    left: 0;
}

.wizard_horizontal ul.wizard_steps li div.disabled .step_no {
    background: #ccc;
}

.wizard_horizontal ul.wizard_steps li div .step_no {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100px;
    display: block;
    margin: 0 auto 5px;
    font-size: 16px;
    text-align: center;
    position: relative;
    /*z-index: 5;*/
}

.wizard_horizontal ul.wizard_steps li div.selected:before,
.step_no {
    background: #34495E;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li div.done:before,
.wizard_horizontal ul.wizard_steps li div.done .step_no {
    background: #1ABB9C;
    color: #fff;
}

.wizard_horizontal ul.wizard_steps li:first-child div:before {
    left: 50%;
}

.wizard_horizontal ul.wizard_steps li:last-child div:before {
    right: 50%;
    width: 50%;
    left: auto;
}

/* 결과 영역 */
.x_result {
    padding:17px;
}

/* 테이블 */
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding-top:6px;
    padding-bottom:6px;
    height:40px;
}
table.basic_table {
    border: 1px solid rgba(221, 221, 221, 0.78);
}
.scroll_v table.basic_table {
    min-width:1000px;
}
table.basic_table th, table.basic_table td{
    vertical-align:middle !important;
    border-bottom: none !important;
}
table.basic_table th span, table.basic_table td span{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 1.2em; /* line-height 가 1.2em 이고 1라인을 자르기 때문에 height는 1.2em * 1 = 1.2em */
}
table.basic_table thead>tr.th_bg, table tbody>tr .th_bg  {
    background: rgba(52, 73, 94, 0.94);
    color: #ecf0f1;
    border-bottom: 2px solid #ddd;
}
table.basic_table thead>tr>th>button, table.basic_table tbody>tr>td>button {
    margin:0;
    min-width:50px;
}
table.basic_table>thead>tr>th, table.basic_table>tbody>tr>th, table.basic_table>tfoot>tr>th, table.basic_table>thead>tr>td, table.basic_table>tbody>tr>td, table.basic_table>tfoot>tr>td{
    text-align:center;
    padding-top:6px;
    padding-bottom:6px;
    height:40px;
    width:50px;
}
table.basic_table thead>tr>th>select.input-sm {
    height:28px;
    line-height:28px;
}
table.basic_table label{
    font-weight:normal;
}
.progress.progress_sm{
    margin-bottom:5px;
}
table.basic_table button.margin_t{
    margin:0;
    margin-top:6px;
}
table.basic_table button.margin_b{
    margin:0;
    margin-bottom:4px;
}
table.basic_table thead>tr>th.th_link {
    padding:0;
    cursor: pointer;
}
table.basic_table thead>tr>th.th_link span:after{
    content:"\f0a9";
    font-family:FontAwesome;
    margin-left:8px;
}
/*
table.basic_table thead>tr>th.th_link:hover {
    border:1px solid #fff;
    
}
*/
table.basic_table thead>tr.th_border th{
    border:1px solid #ddd;
}
/* 모달 리스트 테이블 */
table.modal_table thead>tr.th_bg {
    background: rgba(52, 73, 94, 0.94);
    color: #ecf0f1;
    border-bottom: 2px solid #ddd;
    text-align: center;
}
table.modal_table>thead>tr>th, table.modal_table>tbody>tr>td{
    text-align:center;
}
table.modal_table.list>thead>tr>th, table.modal_table>thead>tr>th{
    vertical-align:middle;
    padding:6px 10px;
}
table.modal_table>tbody>tr>td{
    vertical-align:top;
}



/*위험도 결과*/
.grid_slider{
    margin-bottom:30px;
}
.range-txt {
    width:100%;
    position:absolute;
    top:20px;
    padding-right:20px;
}
.range-txt span{
    width:20%;
    display:inline-block;
    padding:5px;
    text-align:center;
}
.irs-grid{
    bottom:-10px;
}
.irs-min, .irs-max, .irs-slider{
    display:none;
}
.irs-single {
    top:-4px;
    padding: 3px 5px;
    font-size:12px;
    background:#000;
}
.irs-single:after {
    border-top-color: #000;
}

/* 모달 */
.modal-footer .btn{
    margin-bottom:0;
}
.select_group select{
    width:47%;
    margin-bottom:8px;
}
.drag-modal {
    pointer-events: none;
}
.drag-modal .modal-dialog {
    pointer-events: auto;
}
.drag-modal .modal-backdrop {
    display: none;
}

/*인풋체크, 라이디오버튼*/
.p_chk, .p_rad{
    margin:0;
    padding:0;
    height:22px;
    position:relative;
}
p>input[type="checkbox"], p>input[type="radio"] {
    position: relative;
    top: -1px;
}
p:not(#cssbrowser)>input[type="checkbox"], p:not(#cssbrowser)>input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: 0;
}
p:not(#cssbrowser)>input[type="checkbox"] + label, p:not(#cssbrowser)>input[type="radio"] + label {
    margin: 0;
    padding: 0;
    display: inline-block;
    background: url(../images/bg_wolfharuradiocheckbox_1.png) no-repeat left top;
    height:22px;
    width:22px;
}
p:not(#cssbrowser)>input[type="radio"] + label {
    background-position: left -100px;
}
p:not(#cssbrowser)>input[type="checkbox"]:disabled + label {
    background-position: left -25px;
}
p:not(#cssbrowser)>input[type="checkbox"]:checked + label {
    background-position: left -50px;
}
p:not(#cssbrowser)>input[type="checkbox"]:checked:disabled + label {
    background-position: left -75px;
}
p:not(#cssbrowser)>input[type="radio"]:disabled + label {
    background-position: left -125px;
}
p:not(#cssbrowser)>input[type="radio"]:checked + label {
    background-position: left -150px;
}
p:not(#cssbrowser)>input[type="radio"]:checked:disabled + label {
    background-position: left -175px;
}
p.p_rad:not(#cssbrowser)>input[type="checkbox"] + label, p:not(#cssbrowser)>input[type="radio"] + label {
    width:100%;
    padding-left:25px;
    text-align:left;
}
.p_label:not(#cssbrowser)>input[type="checkbox"] + label, .p_label:not(#cssbrowser)>input[type="radio"] + label{
    width: auto !important;
    text-align:center;
}
.p_label label{
    display:inline-block;
    padding-left:25px !important;
    text-align:left;
}
/* 아코디언 */
.accordion .panel-heading {
    padding:6px;
    overflow:hidden;
}
.accordion .panel-heading h4{
    margin-top:9px;
}
.accordion .panel-heading .input-group{
    margin-bottom:0;
}
.accordion .panel-heading .radio{
    margin-top: 7px;
    margin-bottom:0;
}
.accordion .panel-heading .file-name{
    margin-right: 15px;
}

/* 기타 */
ul.timeline li{
    border:none;
}
.timeline .block {
    min-height:110px;
    margin-left:140px;
}
.timeline .block p{
    margin:0;
}
.timeline .tags{
    width:120px;
}
.timeline .tag{
    width:100%;
}
.cont_bot_select{
    margin-top:10px;
    overflow:hidden;
}
.cont_bot_select label{
    margin-right:6px;
    float:left;
    line-height:36px;
}
.cont_bot_select select{
    width:150px;
    margin-right:6px;
    float:left;
}
.cont_bot_select button{
    padding-top:7px;
    padding-bottom:7px;
    float:left;
}
#view-data{
    margin-top:15px;
}
.btn-area{
    display:inline-block;
    margin:-4px 0 10px 0;
    text-align:right;
}
.btn-area .info{
    text-align:left;
    padding-top:8px;
    padding-left:18px;
}
.wizard_horizontal{
    padding-left:50px;
    padding-right: 50px;
}
.label-h-area label{
    overflow:hidden;
}
.label-h-area label{
    width:10%;
    float:left;
    line-height:30px;
}
.label-h-area button{
    width:90%;
    float:left;
}
.block-l{
    padding-right:15px;
    float:left;
}
.block-r{
    padding-left:15px;
    border-left: 1px solid #ddd;
    float:left;
}
.control-label {
    margin-top:8px;
    text-align:left;
}
.form-group .p_chk{
    margin-top:7px;
}
.form-group.col-xs-12 .col-xs-2{
    width:12.4%;
}
.form-group.col-xs-12 .col-xs-10{
    width:87.6%;
}
.col-tel{
    overflow:hidden;
}
.form-group span{
    height:34px;
    line-height:34px;
}
.col-tel span{
    width:5%;
    height:34px;
    text-align:center;
    line-height:34px;
    float:left;
}
.col-tel input{
    width: 30%;
    float:left;
}
.form-ul, .form-ul li, .chk-ul, .chk-ul li, .dwn-ul, .dwn-ul li{
    margin:0;
    padding:0;
    list-style:none;
}
.form-ul li{
    border-bottom:1px solid #e6e9ed;
    padding-top:10px;
}
.form-ul li:last-child{
    border-bottom: none;
}
.dwn-ul li{
    border-bottom:1px solid #e6e9ed;
    padding:10px;
}
.dwn-ul li:nth-child(even){
    background:#f9f9f9;
}
.dropzone {
    min-height: 120px;
    border: 1px solid #e5e5e5;
    background: white;
    padding: 10px 10px;
}
.col-download span{
    width:100%;
    background:#f2f5f7;
    padding:6px 12px;
    display:inline-block;
}

table.basic_table thead>tr>th input{
    color:#73879C;
    display:inline;
    width:80px;
}
table.basic_table thead>tr>th input::placeholder{
    text-align:center;
}

.x_content-footer {
    margin-top:15px;
    padding: 15px 15px 0 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-left:-17px;
    margin-right:-17px;
}
.form-group span.form-control-feedback {
    margin-top: 6px;
    height: 23px;
    color: #bbb;
    line-height: 24px;
    font-size: 15px;
}
.detail-dl, .dwn-dl {
    overflow:hidden;
    margin:0;
}
.detail-dl dt{
    width:30%;
    border-bottom:1px solid #e6e9ed;
    padding:10px;
    float:left;
}
.detail-dl dd{
    width:70%;
    border-bottom:1px solid #e6e9ed;
    padding:10px 0;
    float:left;
}
.detail-dl dd:last-child{
    border: none;
}
.dwn-dl dt{
    width:20%;
    border-bottom:1px solid #e6e9ed;
    padding:10px;
    float:left;
}
.dwn-dl dd{
    width:80%;
    border-bottom:1px solid #e6e9ed;
    padding:10px 0;
    float:left;
}
.dwn-dl dt.dwn {
    width:80%;
    padding-top:0;
    padding-bottom:0;
    height:44px;
    line-height:44px;
}
.dwn-dl dd.dwn {
    width:20%;
    padding-top:0;
    padding-bottom:0;
    height:44px;
    line-height:40px;
    
}
.dwn-area{
    margin-top:10px;
}
.daterangepicker.dropdown-menu{
    z-index:9999;
}
.list-box{
    height:400px;
    width:46%;
    background: #f3f3f3;
    overflow-y:scroll;
    float:left;
}
.list-box-btn{
    height:400px;
    width:8%;
    text-align:center;
    padding-top:150px;
    float:left;
}
ul.to_do{
    padding:10px;
}
ul.to_do li{
    overflow:hidden;
    border-bottom:1px solid #ddd;
}
ul.to_do li input[type="checkbox"]{
    width:20px;
    height:20px;
    display:inline-block;
    margin-right:10px;
    margin-top:5px;
    float:left;
}
ul.to_do li button{
    margin-right:10px;
    float:left;
}
ul.to_do li span{
    margin-top:6px;
    float:left;
    width:85%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 1.2em; /* line-height 가 1.2em 이고 1라인을 자르기 때문에 height는 1.2em * 1 = 1.2em */
}
caption.title-chk {
    padding-bottom:0;
}
.border_r{
    border-right:1px solid #ddd;
}

.x_icon h2{
    position:relative;
    padding-left:20px;
}
.x_icon h2:after{
    height:auto;
    width:auto;
    position:absolute;
    content:"\f0c9";
    font-family:FontAwesome;
    left:0;
    top:1px;
    background:none;
}
.panel_toolbox li.li-btn{
    width:160px;
}
.panel_toolbox li.li-btn button{
    margin-left:3px;
}
.x_md {
    height:290px;
}
.x_scroll {
    overflow-y:scroll;
}
.x_info .form-group{
    border-bottom:1px solid #ddd;
    margin-bottom:0;
    padding:3px 0 3px 5px;
}

.label-md {
    font-size:12px;
    min-width:50px;
    display:inline-block;
    padding:5px 5px;
}
.label-default.label-md {
    background:#fff;
    border:1px solid #ccc;
    color:#333;
}
/*----------------------- 푸터 --------------------------*/
footer {
    
    /*position:fixed;*/
    bottom:0;
    left:0;
    width:110%;
    padding:0 0 0 246px;
    background:#172D44;
    z-index:3;
}
footer span{
    width:100%;
    padding:12px 0;
    background:#2A3F54;
    display:inline-block;
    padding-left:25px;
}
body.nav-sm footer{
    padding-left:86px;
}

/*----------------------- size --------------------------*/
.wp10 { width: 10% !important; }
.wp20 { width: 20% !important; }
.wp30 { width: 30% !important; }
.wp40 { width: 40% !important; }
.wp50 { width: 50% !important; }
.wp60 { width: 60% !important; }
.wp70 { width: 70% !important; }
.wp80 { width: 80% !important; }
.wp90 { width: 90% !important; }
.wp98 { width: 98% !important; }
.wp99 { width: 99% !important; }
.wp100 { width: 100%; }