*

.progressdiv {
	width:90%;
	height:70px;
	margin: auto;
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

#progressbar {
	counter-reset: step;
	padding-left: 0%;
    margin-bottom: 1%;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
	padding-top: 5px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    width: 14%;
    float: left;
    position: relative;
/*     cursor: pointer */
}

/* #progressbar li:hover { */
/* 	background-color: #eee; */
/* 	opacity: .9; */
/* 	border-radius:2em; */
/* } */

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
    width: 45px;
    height: 45px;
    line-height: 40px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 1px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}